body{margin:25px 20px 25px 20px;border:2px solid rgb(140, 86, 190) }
h1{text-align: center;}
h2{text-decoration: underline; color:rgb(93, 206, 196)}
/* p{font-family:time new roman; background-color:rgb(206, 101, 132);} */
table1{background-color:rgb(0, 0, 0); text-color="white"}